@import "~bootstrap/scss/bootstrap";

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "Neucha", cursive;
}
